.user-profile {
    margin: 0 auto;
    padding: 30px 0;
    max-width: 1000px;
    height: 90vh;

    display: flex;
    justify-content: space-around;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #232840;
    max-width: 30%;
    padding: 30px;
}

.sidebar-avatar {
    max-width: 100%;
    border-radius: 50%;
}

.sidebar-tabs {
    cursor: pointer;
}

.sidebar-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    border-top: 1px dashed #f1f1f1;
}

.sidebar-tab:last-of-type {
    border-bottom: 1px dashed #f1f1f1;
}

.sidebar-tab-inactive {
    color: rgb(192, 71, 137);
}

.sidebar-tab-active {
    color: #2A9FD8;
}

.tabs-view {
    width: 100%;
    height: 100%;
    margin: 0 5px;
    overflow-y: auto;
}

/* width */
.tabs-view::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* Track */
.tabs-view::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.tabs-view::-webkit-scrollbar-thumb {
    background: #9AC6C9;
    border-radius: 5px;
}

/* Handle on hover */
.tabs-view::-webkit-scrollbar-thumb:hover {
    background: #2A9FD8;
}

.tabs-right-side {
    background: #232840;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}