.creation-editor-container{
    display: flex;
    align-items: center;
}

.markdown-render{
    width: 500px;
    height: 300px;
    background-color: yellow;
}

.hide-button{
    display: none;
}

.show-button{
    display: inline;
}