.landingContainer {
  background-color: #232840;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  border-radius: 10px;
}

.topContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #9ac6c9;
  margin-top: 50px;
}

.topContent h1 {
  color: #2A9FD8;
  font-size: 2.2rem;
  font-weight: bold;
}

.topContent h2 {
  font-size: 1.5rem;
  color: #c04789;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

.topContent p {
  width: 70%;
  font-size: 1.2rem;
  line-height: 1.5;
}

.topContent button {
  padding: 20px 20px;
  border-radius: 5px;
  border: none;
  background: #c04789;
  color: #f5f5f6;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.topContent button:hover{
  background: #f5f5f6;
  color: #c04789;
}

.topContent-left {
  width: 50%;
}

.content-cards {
  background: #f5f5f6;
  color: #000019;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 20px;
}

.card div {
  padding: 0 20px;
  text-align: center;
}

.card p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.card h2 {
  color: #c04789;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.card img {
  width: 50%;
  height: auto;
}

.testimonials {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.testimonials-header {
  color: #9AC6C9;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 50px;
}

.testimonial-card {
  width: 30%;
  background: #f5f5f6;
  border-radius: 10px;
  -webkit-box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
  box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
  color: #000019;
  margin-bottom: 30px;
}

.testimonial-card div {
  text-align: center;
}

.testimonial-card img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.testimonial-card h3 {
  margin: 0;
  text-align: center;
}

.testimonial-card p {
  width: 90%;
  margin: 0px auto 30px auto;
  text-align: justify;
  border-top: 2px solid #2A9FD8;
  padding-top: 30px;
}

.card-sm {
  min-height: 450px;
}