.landingContainer {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  background-color: #22273f;
  color:white;
 }
 .landingContent{
  margin: 0 auto;
  width: 1000px;
 }
 .landingContent h1{
  color:#009dc4;
  margin-bottom: 30px;
 }
 .landingContent header{
    display:flex;
  justify-content: space-between;
  padding-top: 30px;
 }
 .topText{
  display:flex;
}

.content-cards {
  background: #f5f5f6;
  color: #000019;
  border: 2px;
  /* font-family: 'IBM Plex Mono', monospace; */

}

.content-cards__centered {
  padding-top: 40px;
}

.card {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}

.card div {
  width: 40%;
  text-align: justify;
}

.card h2 {
  color: #f649a7;
  text-transform: uppercase;

}

.card img {
  width: 600px;
  height: auto;
}

