.loading-view {
    font-size: 4rem;
    text-align: center;
    animation: throb .5s infinite;
    height: 85vh;
}

.loading-animation {
    margin-top: 300px;
}

@keyframes throb {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(1.1)
    }

    40% {
        transform: scale(1.2)
    }

    60% {
        transform: scale(1.3)
    }

    80% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1.1)
    }
}