.search-challenges-view {
    max-width: 1000px;
    margin: 30px auto;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.custom-select {
    background: whitesmoke;
    color:#222840;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    border: none;
    -webkit-box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
    cursor: pointer;
    min-width: 25%;
    outline: none;
  }



