.search-challenges-view {
    max-width: 1000px;
    margin: 30px auto;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.filter {
    color: #222840;
    background:whitesmoke;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 5px;
    padding: 5px;
}