.console {
    padding: 10px;
    background: #222840;
    color: white;
    width: 900px;
    height: 350px;
    margin: 0 auto 100px;
}

.console-buttons-wrapper {
    width: 100%; 
    border-bottom: 3px solid #9ac6c9;
}

.console-button {
    cursor: pointer;
    outline: none;
    border: 1px solid #2A9fd8;
    margin: 10px 30px;
    background: #222840; 
    color: #2A9fd8;
    font-weight: bold;
    padding: 7px;
}