.challenge-wrapper {
    cursor: pointer;
    margin: 30px;
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.category {
    font-size: 1.2rem;
    background: rgba(103,58,183, .5);
    border: none;
    color: white;
    border-radius: 2px;
    margin: 5px;
}