.challenge-wrapper {
    background: #232840;
    cursor: pointer;
    margin: 30px auto;
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 15px;
    transition: all .2s ease-in-out;
}

.challenge-wrapper:hover {
    /* border: 3px solid #2A9FD8;
    box-sizing: content-box; */
    box-shadow: 5px 5px #2A9FD8;
}
.challenge-title {
    font-size: 1.6rem;
    margin-bottom: 15px;
}


.card-body {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #9ac6c9;
}

.card-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.pill-button {
    font-size: 1.2rem;
    background: rgb(192, 71, 137);
    border: none;
    color: white;
    border-radius: 5px;
    margin-right: 3px;
    padding: 4px 7px;
}

.approve-challenge-button {
    border-radius: 5px;
    border: 1px solid #c04789;
    outline: none;
    cursor: pointer;
    background: #222840;
    margin-top: 15px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: .8rem;
    color: whitesmoke;
}

.card-popularity {
    display: flex;
    align-items: center;
    color: #FFD700;

}

.popularity-value {
    margin-right: 10px;

}

.thumbs-up {
    margin-bottom: 4px;
}

.challenge-description {
    min-height: 180px;
    max-height: 180px;
    overflow: hidden;
    color: #efefef;

}

.challenge-description__open {
    overflow: visible;
    min-height: 164px;
}

.challenge-description__btn {
    cursor: pointer;
    outline: none;
    border: 1px solid #2A9fd8;
    border-radius: 5px;
    margin-top: 15px;
    background: #222840;
    color: #2A9fd8;
    font-weight: bold;
    padding: 7px;
}

.challenge-description__btn:hover {

    background: #2A9fd8;
    color: #222840;
}




