.header-wrapper {
  background: #222840;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
}

.header {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo,
.logo:visited,
.logo:active {
  color: #2A9FD8;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
}

.navigation-link,
.navigation-link:visited,
.navigation-link:active {
  color: #c04789;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.navigation-link:hover {
  color: #2A9FD8;
}

