.header {
  background: #222840;
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 5vh;
}

.header__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo,
.logo:visited,
.logo:active {
  color: #2A9FD8;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
}

.link-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navigation-link,
.navigation-link a:visited,
.navigation-link a:active {
  color: #c04789;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 300;
  cursor: pointer;
}

.account-button {
  border-radius: 5px;
  border: 1px solid #c04789;
  outline: none;
  cursor: pointer;
  background:  #222840;
  margin-top: 15px;
  padding: 7px 15px;
  font-weight: bold;
  font-size: .8rem;
  color: whitesmoke;
}