.challenge-main {
    max-width: 1000px;
    margin: 0 auto;
}

.challenge-header-wrapper {
    width: 100%;
    background: #263238;
    border-bottom: 3px solid #9ac6c9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px 0 0;
    padding: 5px 10px 0;
}

.category-completed {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.challenge-header {
    font-size: 1.5rem;
    width: 100%;
    margin: 10px 0 20px 0;
}

/* {"display":"flex","justifyContent":"space-between","alignItems":"center","width":"900px", "margin":"0 auto"}} */
/* style={{"color":"black","marginBottom":"5px"}} */



.categories {
    background: grey;
    color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.completed {
    color: #7e7;
    font-weight: bold;
}

.uncompleted {
    color: palevioletred;
    font-weight: bold;
}

.attempt-challenge-wrapper {
    display: flex ;
    flex-direction:column;
}

.markdown-wrapper {
    background: #263238;
    color: white ;
    padding: 10px;
    width: 45%; 
    height: 300px ;
    overflow: scroll;
    flex-wrap: wrap;
}

.left-side {
    display:flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.top-panel {
    width:100%;
    display:flex;
    justify-content: space-between;
}

.unnecessary-div {
    width:50%;
    height:50%;
    border-radius:10px;
}

.challenge-completed {
    display: flex;
    align-items: center;
}

.challenge-instructions {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}


.pill-modified {
    margin-bottom: 5px;
}

.editor-wrapper {
    background: #232840;
}

.sub-button {
    font-weight: bold;
    background: #C04789;
    color: whitesmoke;
    cursor: pointer;
    outline: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 10px 30px;
    padding: 7px;
}

.sub-button:disabled {
    opacity: 0.5;
}


/* .sub-button-wrapper {
    margin: 10px auto 50px;
} */

.attempt-markdown-wrapper {
    width: 50%;
    height: 350px;
    background-color: #1C2938;
    margin: auto;
    box-sizing: border-box;
    border: solid gray 5px;
    color: white;
    padding: 10px;
    overflow: scroll;
}

/* styling for attempt challenge modal */
/* styling for modal */
/* .attempt-challenge-modal {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343D61;
    width: 400px;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
    color: white;
  }
   */
