.leaderboard-container {
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
}

.leaderboard-content {
    background-color: #232840;
    margin-top: 50px;
    border-radius: 3px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.leaderboard-header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items:baseline;
}

.leaderboard-header h3 {
    color: #2A9FD8;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: .15rem;
}

.stars-left {
    margin-right: 20px;
}

.stars-right {
    margin-left: 20px;
}

.star {
    color: 	#FFD700;
    font-size: 2rem;
}

.star__middle {
    font-size: 2.5rem;
    margin-right: 5px;
    margin-left: 5px;
}

.leaderboard-ranks {
    width: 80%;
    margin: 0 auto;
    border-radius: 3px;
    color: #222840;
    -webkit-box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 14px 49px -15px rgba(0,0,0,0.75);
}

.first-place{
    background-color: #c04789;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}


.second-place {
    background-color: #cc6ba0;
    padding: 10px 20px;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.third-place {
    background-color: #d990b8;
    padding: 10px 20px;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.rank-card {
    background-color: #f5f5f6;
    padding: 10px 20px;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.rank-card:not(:last-child) {
    border-bottom: 1px dashed #2A9FD8;
}

.first-cup {
    color: #FFD700;
}

.second-cup {
    color: #C0C0C0;
}

.third-cup {
    color: #cd7f32;
}

.rank-card__avatar {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.rank-card__left {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-around;
}

.rank-card__right {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}

.leaderboard-subheading {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}

.leaderboard-subheading div {
    display: flex;
    justify-content: space-around;
    width: 25%;
}