html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #343d61;
  color: #9ac6c9;
}

.react-codemirror2 {
  max-height: 100%;
  width:430px;
  margin-top:20px;
}

.result {
  left: 600px;
  overflow: hidden;
  background-color: lightgray;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.tests {
  margin: 0 5px;
  background-color: red;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.main-view {
  max-width: 1000px;
  margin: 0 auto;
}